/*External CSS for Portfolio*/

* {
	font-family: 'Quicksand', sans-serif;
	/*font-family: 'Shrikhand', cursive;*/
	color: white;

}
body {
	/*background-color: #004961;*/
	background-image: url(../img/banner-3.png);
	background-repeat: no-repeat;
	background-size: cover;
	

}

nav > a > img {
	width: 100px;
	height: 75px;
}

.bg-nav {
	background-color: #004961;

}
.navbar-nav >  li > a{
	color: #FDB900;
	text-decoration: none;
	font-weight: bolder;
}
.navbar-nav > li > a:hover {
	color: linen;
	transition: 0.05s;
}

.a-head {
	font-family: 'Shrikhand', cursive;
	color: #FDB900;
	
}

.text-car {
	color: #DE0029;
	/*color: #004961;*/
}

.row-height {
	height: 100vh;
	width: 100%;
}

.img-size {
	width: 300px;
	height: 310px;
}



@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.btn-bg {
	background-color: #FDB900;
	color: white;
}
.zoom {
 transition: transform .2s;
 margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
div > .card {
	background-color: #0B052B;

}

.card-body > h5, h5 ~ p {
	font-weight: bold;
	color: #F5F5DC;
}

